@import '../../../variables.scss';

.moreInfoContainer {
    margin-top: 1.875rem;
    background-color: #fff;
    border-radius: 1.875rem;
    padding: 1.875rem;

    h2 {
        margin-top: 0;
        color: $secondary-color;
    }

    p {
        color: $primary-color;
        font-size: 1.125rem;
    }
}