@import './variables.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


ul[role="navigation"] {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin: 3.125rem 0;

  li {
    list-style-type: none;
    height: 1.875rem;
    width: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      display: block;
      color: $primary-color;
      font-size: 1.125rem;
      padding-top: 0.125rem;

      &:hover {
        cursor: pointer;
        color: $primary-bg-color;
      }
    }


    &.previous,
    &.next {
      a {
        color: $primary-bg-color;
        font-size: 1.75rem;
      }
    }

    &.active {
      background: $primary-bg-color;
      border-radius: 50%;
      height: 1.625rem;
      width: 1.625rem;
      text-align: center;

      a {
        padding-top: 0.125rem;
        color: #fff;
      }
    }

  }

}